@model ValidationDemo.Models.Register
@{
    ViewBag.Title = "ValidView";
}

<h2>ValidView</h2>

@using (Html.BeginForm("Register", "Validation", FormMethod.Post))
{
    <ol>
        <li>
           @Html.LabelFor(m=>m.FirstName)
           @Html.TextBoxFor(m=>m.FirstName)
           @Html.ValidationMessageFor(m=>m.FirstName)
        </li>
        <li>
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName)
            @Html.ValidationMessageFor(m => m.LastName)
        </li>
        <li>
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
        </li>
        <li>
            @Html.LabelFor(m => m.Password)
            @Html.TextBoxFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </li>
        <li>
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </li>
        <li>
            @Html.LabelFor(m => m.Phone)
            @Html.TextBoxFor(m => m.Phone)
            @Html.ValidationMessageFor(m => m.Phone)
        </li>
       
        
    </ol>

    <input type="submit" name="Btn_Register" value="Register" />

}

